html
  head
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    link(rel="stylesheet", href="styles.css")

    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .container(id='app' style='width:100%')

    script.
        window.host = {
          ip:'#{ip_adress}',
          port:'#{port}',
          internal:`#{internal_address}`,
          roles:'#{roles}'
        };
        window.sockets = {
          System:io.connect(`http://#{ip_adress}:#{port}/system` ,{reconnect:true}),
          Logger:io.connect(`http://#{ip_adress}:#{port}/logger` ,{reconnect:true}),
          Chat:io.connect(`http://#{ip_adress}:#{port}/chat` ,{reconnect:true}),
          Crypto:io.connect(`http://#{ip_adress}:#{port}/crypto` ,{reconnect:true})
        }
        window.internalAddress =  `#{internal_address}`;
        sockets.System.on('reload' ,function(){
          console.log('reloading');
          window.location.reload();
        });
        sockets.Logger.on('log' ,function(msg){
          console.log(msg)
        });
        sockets.Logger.on('fail' ,function(msg){
          console.log(msg)
        });
        sockets.Logger.on('fatal' ,function(msg){
          console.log(msg)
        });
    script(src='Vendors.js')
    script(src='bundle.js')
